.attack {
    border: 1px solid #badc58;
}

.attack > .card-header {
    background-color: #badc58;
}

.defense {
    border: 1px solid #95afc0;
}

.defense > .card-header {
    background-color:#95afc0;
}